/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1/build/